DATABASE_URL=
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_TEST_CLIENT_ID=
AUTH0_TEST_CLIENT_SECRET=
RESEND_API_KEY=
RESEND_FROM_ADDRESS=
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=LB7n2lJr4I3hLzS5Lu6XoP28FGaJj2iqKArAO9zlc3ye949H
MPESA_CONSUMER_SECRET=Ad1kFTNlQtvbNhhQbBpzyCKmwVjGzWHOAnGF6DrDNAuwX98FigNPpXajzzsSlRKL
886185
MPESA_CALLBACK_BASE_URL=https://dev-jibuksapi.apbcafrica.com